name: ci-docker

on:
  push:
    branches: [main]
  pull_request:
    branches: [ main ]

jobs:
  lint-and-scan:
    name: Lint and Scan the code
    runs-on: ubuntu-24.04

    steps:
    - name: Checkout code
      uses: actions/checkout@v6

    - name: Setup Node.js
      uses: actions/setup-node@v6
      with:
        node-version: 24
        cache: 'npm'

    - name: Install dependencies
      run: npm install

    - name: Run Lint
      run: npm run lint

    - name: Run Tests
      run: npm test

    - name: Security Audit
      run: npm run scan

  lint-dockerfile:
    name: Lint Dockerfile
    runs-on: ubuntu-24.04
    
    steps:

      # Checkout repo
      - name: Checkout code
        uses: actions/checkout@v6

      # Lint Dockerfile
      - name: Dockerfile Lint
        uses: hadolint/hadolint-action@v3.3.0
        with:
          dockerfile: ./Dockerfile